@define-mixin mqSmall {
	@media (min-width: 600px){
		@mixin-content;
	}
}

@define-mixin mqMedium {
	@media (min-width: 900px){
		@mixin-content;
	}
}

@define-mixin mqLarge {
	@media (min-width: 1200px){
		@mixin-content;
	}
}

@define-mixin marginAuto {
	margin-left: auto;
	margin-right: auto;
}

@define-mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}