@define-mixin mqSmall { 
	@media (min-width: 600px){
		@mixin-content;
	}
} 

@define-mixin mqMedium {
	@media (min-width: 800px){
		@mixin-content;
	}
}

@define-mixin mqLarge {
	@media (min-width: 1010px){
		@mixin-content;
	}
}

@define-mixin marginAuto {
	margin-left: auto;
	margin-right: auto;
}

@define-mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

@define-mixin circle {
	border-radius: 50%;
}

@define-mixin textReplace {
	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;	
}


@define-mixin vertical-align {
  position:absolute;
  top: 50%;  
  transform: translateY(-50%);
}

@define-mixin vertical-horizontal-align {
  position:absolute;
  left: 50%;
  top: 50%;  
  transform: translate(-50%,-50%);
}