.large-hero { 
	position:relative;
	border-bottom:10px solid $mainBlue;

	&__text-content {
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;
		width:100%;
		text-align:center;
		padding-top: 88px;
		@mixin mqMedium {
			padding-top: 60px;
		}

	}

	&__title {
		font-weight:300;
		color: $mainBlue;
		font-size:38px;
		margin:0;

		@mixin mqSmall {
			font-size:78px;
		}
	}

	&__subtitle {
		font-weight:300;
		color: $mainBlue;
		font-size:24px;
		margin:0;
		@mixin mqSmall {
			font-size:47px;
		}

	}

	&__description {
		font-weight:100;
		font-size:18px;
		color:#fff;
		max-width:480px;
		text-shadow:2px 2px 0 rgba(0,0,0, .1);
		@mixin marginAuto;

		@mixin mqSmall {
			font-size:30px;
		}
	}

	&__image {
		display:block;
	}


}

