.primary-nav {

	padding-top: 10px;

	@mixin mqMedium {
		padding-top: 0;
	}

	&--pull-right {

		@mixin mqMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;

		@mixin mqMedium {
			float: left;
			display: block;
			padding-right: 20px;
		}

		
		&:last-child {
			padding-right:0;
			@mixin mqMedium {
				padding-right: 20px;
			}
		}
	}

	a {
		display: block;
		padding: 5px 8px;
		color:white;
		text-decoration: none;
		font-weight: 300;
		font-size: 13px;
		background-color: rgba($mainBlue, .5);

		@mixin mqMedium {
			font-size: 16px;
			padding: 13px 0;
			background-color: transparent;
		}

	}

}