.section-title {
	font-size: 40px;
	font-weight: 300;
	text-align: center;


	@mixin mqSmall {
		font-size: 60px;
	}

	span { font-weight: 500; }

	&__icon {
		display: block;
		@mixin marginAuto;
		margin-bottom: 10px;

		@mixin mqSmall {
			position:relative;
			top: 18px;
			display: inline-block;
			margin-right: 12px;
			margin-left: 0;

		}
	}

	&--blue {
		color: $mainBlue;
	}

	&--less-margin {
		margin-bottom: 21px;
		margin-top: 0;
	}

}